#from vcd
/vhdl/vcd/*.vcd

#from syn
/vhdl/syn/*.log
/vhdl/syn/*.svf
/vhdl/syn/*.tcl*
/vhdl/syn/*.sh*
/vhdl/syn/*.setup

#from sim
/vhdl/sim/*.do
/vhdl/sim/*.sh*

#from saif
/vhdl/saif/*.saif

#from netlist
/vhdl/netlist/*.sdc
/vhdl/netlist/*.sdf
/vhdl/netlist/*.v

#from innvus
/vhdl/innovus/base/*.db
/vhdl/innovus/base/*.globals
/vhdl/innovus/base/*enc
/vhdl/innovus/base/*.v
/vhdl/innovus/base/*.cmd
/vhdl/innovus/base/*.sh
/vhdl/innovus/base/*.tcl

/vhdl/innovus/base_inputshifted/*.db
/vhdl/innovus/base_inputshifted/*.globals
/vhdl/innovus/base_inputshifted/*enc
/vhdl/innovus/base_inputshifted/*.v
/vhdl/innovus/base_inputshifted/*.cmd
/vhdl/innovus/base_inputshifted/*.sh
/vhdl/innovus/base_inputshifted/*.tcl

/vhdl/innovus/firopt/*.db
/vhdl/innovus/firopt/*.globals
/vhdl/innovus/firopt/*enc
/vhdl/innovus/firopt/*.v
/vhdl/innovus/firopt/*.cmd
/vhdl/innovus/firopt/*.sh
/vhdl/innovus/firopt/*tcl

/vhdl/innovus/firopt_inputshifted/*.db
/vhdl/innovus/firopt_inputshifted/*.globals
/vhdl/innovus/firopt_inputshifted/*enc
/vhdl/innovus/firopt_inputshifted/*.v
/vhdl/innovus/firopt_inputshifted/*.cmd
/vhdl/innovus/firopt_inputshifted/*.sh
/vhdl/innovus/firopt_inputshifted/*.tcl



