#from vcd
/vhdl/vcd/*.vcd

#from syn
/vhdl/syn/*.log
/vhdl/syn/*.svf
/vhdl/syn/*.tcl*
/vhdl/syn/*.sh*
/vhdl/syn/*.setup

#from sim
/vhdl/sim/*.do
/vhdl/sim/*.sh*

#from saif
/vhdl/saif/*.saif

#from netlist
/vhdl/netlist/*.sdc
/vhdl/netlist/*.sdf
/vhdl/netlist/*.v

#from innvus
/vhdl/innovus/*.db

#double ** remove all the file also in the sub directory
/vhdl/innovus/base/**.globals
/vhdl/innovus/base/**enc
/vhdl/innovus/base/**.v
/vhdl/innovus/base/**.cmd
/vhdl/innovus/base/**.sh
/vhdl/innovus/base/**.tcl





